{{nav-bar top=0 showLogo=true}}

<section id='manage-app' class='bg-light-gray'>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Manage My Application</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Main Application Details</h3>
      </div>
    </div>
    <div class="row">
      <div class="box">
        <div class="col-lg-12 text-center">
          <div class="form-group">
            <label for="appName" class='col-lg-offset-3 col-lg-2'>Application Name:</label>
            <div class='col-lg-4'>
              {{input type='text' class='form-control' id='appName' placeholder='MyCoolApp' value=applicationName}}
            </div>
          </div>
          <div class="form-group">
            <label for="appName" class='col-lg-offset-3 col-lg-2'>Color Theme:</label>
            <div class='col-lg-4'>
              {{#x-select value=selectedColor action="selectColorTheme"}}
                {{#x-option value='Blue'}}Blue{{/x-option}}
                {{#x-option value='Yellow'}}Yellow{{/x-option}}
                {{#x-option value='Red'}}Red{{/x-option}}
                {{#x-option value='Green'}}Green{{/x-option}}
              {{/x-select}}

              {{#if isBlueSelected}}
                <button class='btn dark-blue' disabled>#303F9F</button>
                <button class='btn light-blue' disabled>#C5CAE9</button>
              {{/if}}
              {{#if isYellowSelected}}
                <button class='btn dark-yellow' disabled>#D4C429</button>
                <button class='btn light-yellow' disabled>#FDEC56</button>

              {{/if}}
              {{#if isRedSelected}}
                <button class='btn dark-red' disabled>#D32F2F</button>
                <button class='btn light-red' disabled>#FFCDD2</button>
              {{/if}}
              {{#if isGreenSelected}}
                <button class='btn dark-green' disabled>#388E3C</button>
                <button class='btn light-green' disabled>#C8E6C9</button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Lesson Content</h3>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12'>
        <div class="col-lg-12 text-center">
          {{#each allWeeks as |week|}}
            {{week-content content=week}}
          {{else}}
            <div class="alert alert-info text-center">No content added yet.</div>
          {{/each}}
          <div class="form-group">
            <div class='col-lg-12 text-center'>
              <button class="btn btn-default" {{action 'addWeek'}}><span class='glyphicon
  glyphicon-plus'></span>
              Add a Week
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form class='form-horizontal'>
          <div class="form-group">
            <div class='col-lg-12 submit-btn-div text-center'>
              <button type="submit" class="submit-btn btn btn-danger"
                {{action 'submitChanges'}}>Update My App</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{app-footer}}
