<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Week {{content.index}}</h3>
  </div>
  <div class="panel-body">
    <div class='form-group'>
      <label for='week1Title' class='col-lg-2'>Title:</label>
      <div class='col-lg-10'>
        {{input type='text' class='form-control' placeholder="Abs and Core"
               value=content.weekTitle}}
      </div>
    </div>
    <div class='form-group'>
      <label for='weekShortDescription' class='col-lg-2'>Short Description:</label>
      <div class='col-lg-10'>
        {{input type='text' class='form-control'
         placeholder="Short description of the week" value=content.shortDescription}}
      </div>
    </div>
    <div class='form-group'>
      <label for='weekLongDescription' class='col-lg-2'>Long Description:</label>
      <div class='col-lg-10'>
        {{textarea class='form-control'
         placeholder="Longer description of the week" value=content.longDescription}}
      </div>
    </div>
    <div class="form-group">
      <label for="week1Video" class='col-lg-2'>YouTube Video ID:</label>
      <div class='col-lg-10'>
        <div class='row'>
          <div class='col-lg-4'>
            <div class='row'>
              <div class='col-lg-12'>
                {{input class='video-id' type="text"
                  placeholder='Place your YouTube video id here'
                        value=content.videoId}}
              </div>
              <div class='col-lg-12'>
                Duration:
                {{input type='text' placeholder="1:32"
                       value=content.videoDuration}}
              </div>
            </div>
          </div>
          <div class='col-lg-8'>
            Preview:
            <iframe width="560" height="315" src={{content.videoUrl}} frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
    <div class='form-group'>
      <label for='exampleInputFile' class='col-lg-2'>Lesson Content:</label>
      <div class='col-lg-10'>
        {{#each content.steps as |step|}}
          <div class="panel panel-default">
            <div class="panel-heading step-header">
              <h3 class="panel-title pull-left">Step {{step.index}}</h3>
              <button type="button" class='btn btn-danger pull-right' {{action 'removeItem' step}}>
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <div class='row'>
                <div class='col-lg-12'>
                  Title: {{input type='text' class='img-url' value=step.title placeholder='Sample Title'}}
                </div>
                <div class='col-lg-12'>
                  Description:
                    {{textarea class='text-content-area'
                               value=step.description}}
                </div>

                <div class='col-lg-12'>
                  Title: {{input type='text' class='img-url' value=step.imageUrl placeholder='Sample Title'}}
                </div>
                <div class='col-lg-12 image-content-area'>
                  <img class='img-preview' src={{step.imageUrl}} />
                </div>
              </div>
            </div>
          </div>
        {{else}}
          Add steps to explain the video.
        {{/each}}
      </div>
    </div>
    <div class='form-group'>
      <div class='col-lg-10 col-lg-offset-2'>
        <button type='button' {{action 'addStep'}}>Add a Step</button>
      </div>
    </div>
  </div>
</div>
